*{
    padding: 0;
    margin: 0;

}

a{
    text-decoration: none;
    color: black;
}

header{
    width: auto;
    background-color: grey;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header > .links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main{
    display: grid;
    grid-template-columns: 2fr 200px;
}

.left-column, .right-column, .center-column{
    display: flex;
    background-color: lightgrey;
    height: 100vh;
    width: 100%;
}